<h1 class='center'>{{title}} </h1>
<div class="container">
    <div class="row">
        <div *ngFor="let horror of horrors" class="col s12 m6">
            <div class="card horizontal" (click)="selectHorror(horror)" horrorBorderCard>
                <div class="card-image">
                    <img [src]="horror.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <b>
                            <h6>{{horror.name}}</h6>
                        </b>
                        <h5>{{horror.movie}}</h5>
                        <p>{{horror.release}}</p>
                        <br />
                        <span *ngFor='let type of horror.types' class="{{type | horrorTypeColor}}">

                            {{type}}

                        </span>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>